.pt{
color: red;
position: absolute;
margin-left: 55%;
margin-top: 11%;
}
.login{
margin-left: 60%; 
margin-top: 12%;
position: absolute;
}
.button {
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	background-color: rgb(68, 114, 196);
}
.button_home {
	background-color:white;
	color: rgb(68, 114, 196);;
}
.back {
	background: rgb(68, 114, 196);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25;
	color: white;
}
select{
	height: 25px;
	border-radius:3px 3px 0px 3px;
	padding: 5px
}
.multiple{
	height: auto;
}
.content{
	background-color:rgb(217,226,243);
	border-style: inset;
	border-color: white;
	padding: 1px 10px 1px 15px ;
}
.headings{
	background: rgb(68, 114, 196);
	color: white;
	border-collapse:separate;
	border-color: grey;
	padding: 1px 10px 1px 10px ;
	border-style: outset;
}
.tr:nth-child(even){background-color: #f2f2f2}