
<form class=back method="POST" action="{% url 'home' %}" enctype="multipart/form-data">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<img style="position: absolute; width:400px; height:90px" src="{% static 'COG-Logo-White.svg' %}"/>

<script >
function go(){
	var select = document.getElementById('saturated');
	select.style.display = "block";
        var childArray = select.children;
        var cL = childArray.length;
        while(cL > 0) {
            cL--;
            select.removeChild(childArray[cL]);
        }
	var selected = document.getElementById('col').value;
	{% for k,data in branches.items %}
	document.getElementById("sel_col").value = "{{ k }}";
	var key = document.getElementById("sel_col").value;
	if(key==selected){
	{% for x in data %}
	var opt = document.createElement('option');
	opt.value = "{{ x }}";
	opt.innerHTML = "{{ x }}";
	select.appendChild(opt);
	{% endfor %}
	}
	{% endfor %}
};

</script>
{% csrf_token %}
{% if user.is_authenticated %}
<div style="padding:20px; text-align:right">
User: {{ user.get_username }}<br/>
<a style="padding:5px;" href="{% url 'logout'%}?next={{request.path}}">Logout</a></div> 
<p style="text-align:right; font-size:14px;">
	Last Upated: {{ time }}
	<br/><br/>
	</p>
<p>
<center>
{% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} 
               {{ form.docfile.errors }}
               {{ form.docfile }}
			   <input class="button button_home" type="submit" value="Upload" name="upload"/>  
            </p>
            <p></p>
			<hr>
<input type="hidden", id = "sel_col" name="sel_col", value="{{ body }}"/>
<table class=back style="height: 188px;" width="639">
<tbody>
<!------------------------------------------------------------------------------------------------------->

<tr>
<td style="width: 152.8px;">&nbsp;</td>
<td style="width: 152.8px; padding-bottom:50">&nbsp;</td>
<td style="width: 152.8px;">&nbsp;</td>
<td style="width: 153.6px;">&nbsp;</td>
<td style="width: 153.6px;">&nbsp;</td>
<td style="width: 153.6px; white-space: nowrap; padding-left:50" >All Constraints</td>
</tr>
<!------------------------------------------------------------------------------------------------------->
<tr>
<td style="width: 152.8px; white-space: nowrap">Choose Column:</td>
<td style="width: 152.8px; text-align: center;">
<select onchange = "go()" id="col" name="col">
{% for o in options %}
<option style="width: 153.6px; white-space: nowrap" value="{{ o }}">{{ o }}</option>
{% endfor %}
<option value="{{ branches| length }}">{{ branches| length }}</option>
</select>
</td>
<td style="width: 152.8px; text-align: center;"><select name="signs">
<option value="=">=</option>
<option value="<">&lt;</option>
<option value=">">&gt;</option>
<option value="bet">between</option>
</select></td>
<td style="width: 153.6px;">
<select style="display:none;" class=multiple name="field" multiple id="saturated" separator=","></select></td>
<td style="width: 153.6px;"><input class="button button_home"	 type="submit" name="add_to_conditions" value="Add" /></td>
<td style="width: 153.6px;" rowspan=6>

{% for c in conditions %}
<li style="width: 153.6px; white-space: nowrap; padding-left:50" value="{{ c }}">{{ c }}</li>
{% endfor %}
</td>
</tr>
<!------------------------------------------------------------------------------------------------------->
<tr>
<td style="width: 152.8px;">&nbsp;</td>
<td style="width: 152.8px;">&nbsp;</td>
<td style="width: 152.8px;">&nbsp;</td>
<td style="width: 153.6px;">&nbsp;</td>
<td style="width: 153.6px;">&nbsp;</td>
</tr>
<!------------------------------------------------------------------------------------------------------->
<tr>
<td style="width: 152.8px;">Percentage</td>
<td style="width: 152.8px; text-align: center;">&nbsp;of&nbsp; <select name="pof">
{% for o in options %}
<option value="{{ o }}"> {{ o }} </option>
{% endfor %}
</select></td>
<td style="width: 153.6px; text-align: center;">&nbsp;against&nbsp; &nbsp; &nbsp;<select name="pag">
{% for o in options %}
<option value="{{ o }}"> {{ o }} </option>
{% endfor %}
</select></td>
<td style="width: 153.6px;">&nbsp;</td>
<td style="width: 152.8px; text-align: center;">&nbsp;&nbsp;</td>
</tr>
<!------------------------------------------------------------------------------------------------------->
<tr>
<td style="width: 152.8px;">&nbsp;</td>
<td style="width: 152.8px;">&nbsp;</td>
<td style="width: 152.8px;">&nbsp;</td>
<td style="width: 153.6px;">&nbsp;</td>
<td style="width: 153.6px;">&nbsp;</td>
</tr>
<!------------------------------------------------------------------------------------------------------->
<tr>
<td style="width: 152.8px;">&nbsp;</td>
<td style="width: 152.8px;">&nbsp;</td>
<td style="width: 152.8px;">&nbsp;</td>
<td style="width: 153.6px;">&nbsp;</td>
<td style="width: 153.6px;">&nbsp;</td>
</tr>
<!------------------------------------------------------------------------------------------------------->
<tr>
<td style="width: 152.8px;">&nbsp;</td>
<td style="width: 152.8px;">&nbsp;</td>
<td style="width: 152.8px;">&nbsp;</td>
<td style="width: 153.6px; white-space:nowrap; padding-top:30">
<input class="button button_home" type="submit" value="Generate" name="generate"/> 
<input class="button button_home" type="submit" value="Clear" name="clear"/></td>
<td style="width: 153.6px;"> </td>
</tr>
</tbody>
</table></center>
	</p>
	<!------
	{% if latest_q_list %}
    <ul>
    {% for question in latest_q_list %}
        <li><a href="/poll/{{ question.id }}/">{{ question.q_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}-->
{% if body %}
<p><input class="button button_home" type="submit", name="download", value="Download"/>
<input class="button button_home" type="submit", name="Next", value="Next"/>
<input class="button button_home" type="hidden", name="body", value="{{ body }}"/>
</p>
<hr/><hr/>
{% endif %}
<p>
<div style="overflow-x:auto;">
<table >
<tbody>
{% for r in body %}
{% if r is body.0 %}
<tr>
{% for c in r %}
<td  border=1 class=headings >{{ c }} </td>
{% endfor %}
</tr>
{% else %}
<tr class=tr>
{% for c in r %}
<td class=content>{{ c }} </td>
{% endfor %}
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>
</div>
</p>
{% else %}
<div style="text-align:center; padding-top:10%; padding-bottom:30%"><h2> You are not logged in.<br/><br/>
 Please <a href="{% url 'login'%}?next={{request.path}}">Login</a> to use the service
 </h2></div>

{% endif %}
</form>
