<body class=back>
<form method="POST" style="width: 100%;" action="{% url 'upload' %}" enctype="multipart/form-data">
<script>

</script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<u><img style="z-index: 1; right:-50; position: absolute; width:400px; height:90px" src="{% static 'COG-Logo-White.svg' %}"/></u>
{% csrf_token %}
{% if user.is_authenticated %}

<ul>
  <li><a href="{% url 'home'%}?next={{request.path}}">Home</a></li>
  <li><a class="active" href="{% url 'upload'%}?next={{request.path}}">Upload</a></li>
  <li><a href="#contact">About</a></li>
  <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
</ul>
<div>
<br/><br/><br/></br>
{% load filter_tags %}
{% if user|has_group:"uploads" %}
<div style="width:100%; font-size: 20; left:35%; top:35%; height:100%; position:fixed; horizontal-align: center; vertical-align: middle" >
<div> {{ msg }} </div>
<div>
Select Report type: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select id="cat" required name="cat" style="width:250; text-align: center; height:28;">
<option value '' selected>---Select Category---</option>
<option value='Master List'>	Master List </option>
<option value='Resource List'>	Resource List </option>
<option value='Utilization Report'>	Utilization Report </option>
<option value='NBL report'>	NBL report </option>
<option value='Open Demands- Offshore'>	Open Demands- Offshore </option>
<option value='Open demands Global report'>	Open demands Global report </option>
<option value='PDP Report'>	PDP Report </option>
<option value='Certification report'>	Certification report </option>
<option value='Attrition Report'>	Attrition Report </option>
<option value='Travel Ready Report'>	Travel Ready Report </option>
<option value='Associate Skill details'>	Associate Skill details </option>
<option value='Cloud Pipeline Report'>	Cloud Pipeline Report </option>
<option value='Cloud Wins-2017'>	Cloud Wins-2017 </option>
<option value='Cloud Wins-2018'>	Cloud Wins-2018 </option>
</select>
</div>
{% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} 
               {{ form.docfile.errors }}
               {{ form.docfile }}
			   <input class="button button_home" type="submit" value="Upload" name="upload"/>  
            </div>
</div>
{% else %}
<div style="width:100%; font-size: 20; left:35%; top:35%; height:100%; position:fixed; horizontal-align: center; vertical-align: middle" >
You are not authorised to upload the document :(
Please return back</div>
{% endif %}
{% else %}
<div style="text-align:center; padding-top:10%; padding-bottom:30%"><h2> You are not logged in.<br/><br/>
 Please <a href="{% url 'login'%}?next={{request.path}}">Login</a> to use the service
 </h2></div>
{% endif %}
</form>
</body>